/*IMAGE OF PLATFORM*/
/*.platform-img{
    width: 80px;
    height: auto;
}*/

/*FOR ALL ADD BUTTONS*/
/*.add-button {
    border-radius: 5px;
    transition: transform .2s;
}

.add-button:hover {
    transform: scale(1.1);
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.add-anchor {
    color: black;
}


.add-anchor:hover {
    text-decoration: none;
    color: black;
}*/

/*TABLE STYLING*/
/*table {*/
    /* background-color: #cfcece;*/
    /*font-size:0.8rem;
}

td {
    background-color: #e6e4e4;
}*/


/*CRUD BUTTON STYLES*/


/*.custom-btn:focus {
    outline: none;
    box-shadow: 3px 4px #888888;
}

.custom-btn {
    border-radius: 50%/25%;
    box-shadow: 3px 4px #888888;
    transition: box-shadow 0.15s;
    animation:none

}

.custom-btn:hover {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
     
        box-shadow: 0 0 0 0 rgb(249 211 3);
    }

    70% {
  
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }

    100% {
    
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}*/

.custom-card-body {
    background-color: #e6e4e4;
/*    border: 5px solid #fbbe28;*/
  /*  border-radius:5px;*/
    /*    transition: box-shadow .3s;*/
}

/*.card-border {
    border: 5px solid #fbbe28;
}
*/
.custom-card {
    transition: box-shadow .3s;
    border: 3px solid black;
}
    .custom-card:hover {
        box-shadow:  6px 12px rgba(33,33,33,.2);
    }





.animate__animated.animate__zoomIn {
    --animate-duration: 0.7s;
}